@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE STYLES */
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

main {
  @apply mt-16;
}

/* COMMON STYLES */
.wrapper {
  @apply container mx-auto px-5 md:px-0;
}

.section-padding {
  @apply py-10 2xl:py-20;
}

.section-padding-2 {
  @apply py-20 2xl:py-40;
}

.eq {
  transition: 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

/* LINK STYLES */
.link-item {
  @apply relative text-sm;
}

.link-item::after {
  @apply eq absolute bottom-0 left-1/2 h-px w-0 origin-center -translate-x-1/2 bg-dark content-[""];
}

.link-item:hover::after {
  @apply w-full;
}

/* GALLERY STYLES */
.gallery-grid-parent {
  display: grid;
  grid-template-areas:
    'a a b d e e e'
    'a a b d f g g '
    'c c c d f h i';
}

.grid-child-1 {
  grid-area: a;
}

.grid-child-2 {
  grid-area: b;
}

.grid-child-3 {
  grid-area: c;
}

.grid-child-4 {
  grid-area: d;
}

.grid-child-5 {
  grid-area: e;
}

.grid-child-6 {
  grid-area: f;
}

.grid-child-7 {
  grid-area: g;
}

.grid-child-8 {
  grid-area: h;
}

.grid-child-9 {
  grid-area: i;
}
